{% extends "layout.html" %}

{% block head %}
    <title>Sobre - Igor Gomes</title>
{% endblock %}

{% block content %}

    <div id="wrapper">
        <img src="https://avatars3.githubusercontent.com/u/42951527?s=400&u=c8e3a04ed95bd1f906e63c1e9569e25d5d3391ac&v=4"
            alt="Igor Gomes">
        <h1>Igor Gomes Firmino</h1>
        <h2>Estudante - Análise e desenvolvimento de sistemas.</h2>
        <p>Atualmente estudando a stack de JavaScript(HTML, CSS, Node.js e React)</p>
    </div>

    <div id="links-footer" class="links">
        <a href="https://github.com/igorgms" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/igorgomes8/" target="_blank">Linkedin</a>
    </div>

{% endblock %}