<!DOCTYPE html>
<html>
  <head>
    <title>Igor Gomes</title>

    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="links">
        <a href="/">Sobre</a>
        <a href="/portfolio">Aulas</a>
      </div>
    </header>

    <div id="wrapper">
      <h1>Aulas</h1>
    </div>

    <section class="cards">
      <div class="card" id="GykTLqODQuU">
        <div class="card_image-container">
          <img
            src="https://img.youtube.com/vi/GykTLqODQuU/maxresdefault.jpg"
            alt="Video Aula"
          />
        </div>
        <div class="card_content">
          <p>Formulário animado com JS puro e CSS Animation | Mayk Brito</p>
        </div>
        <div class="card_info">
          <p>57 min</p>
          <p class="card_price">Free</p>
        </div>
      </div>

      <div class="card" id="hka7ay9F1kk">
        <div class="card_image-container">
          <img
            src="https://img.youtube.com/vi/hka7ay9F1kk/maxresdefault.jpg"
            alt="Video Aula"
          />
        </div>
        <div class="card_content">
          <p>
            Freelancer, Síndrome do Impostor, Site para Portfólio? Tempo e Foco
            | #PR 12
          </p>
        </div>
        <div class="card_info">
          <p>27 min</p>
          <p class="card_price">Free</p>
        </div>
      </div>

      <div class="card" id="ZaDpDlPr25M">
        <div class="card_image-container">
          <img
            src="https://img.youtube.com/vi/ZaDpDlPr25M/maxresdefault.jpg"
            alt="Video Aula"
          />
        </div>
        <div class="card_content">
          <p>Expo SDK 38.0 mudou o jogo no React Native | Code/Drops #40</p>
        </div>
        <div class="card_info">
          <p>40 min</p>
          <p class="card_price">Free</p>
        </div>
      </div>

      <div class="card" id="AqJKAJ0TKms">
        <div class="card_image-container">
          <img
            src="https://img.youtube.com/vi/AqJKAJ0TKms/maxresdefault.jpg"
            alt="Video Aula"
          />
        </div>
        <div class="card_content">
          <p>
            Criando um PWA com React Native & Expo Web | Code/Drops #34
            lllllllllllllllllllllllllllllllll
          </p>
        </div>
        <div class="card_info">
          <p>43 min</p>
          <p class="card_price">Free</p>
        </div>
      </div>

      <div class="card" id="SrY8qV6UJ1M">
        <div class="card_image-container">
          <img
            src="https://img.youtube.com/vi/SrY8qV6UJ1M/maxresdefault.jpg"
            alt="Video Aula"
          />
        </div>
        <div class="card_content">
          <p>
            Deploy de apps ReactJS para Google Cloud Storage (part. Guilherme
            Pellizzetti) | Masterclass #17
          </p>
        </div>
        <div class="card_info">
          <p>49 min</p>
          <p class="card_price">Free</p>
        </div>
      </div>

      <div class="card" id="f7jMO95AHmA">
        <div class="card_image-container">
          <img
            src="https://img.youtube.com/vi/f7jMO95AHmA/maxresdefault.jpg"
            alt="Video Aula"
          />
        </div>
        <div class="card_content">
          <p>
            Qual teclado o Diego usa? Adonis V5 + Typescript? Sequelize ou
            TypeORM? O que é Hermes? | #PR 03
          </p>
        </div>
        <div class="card_info">
          <p>16 min</p>
          <p class="card_price">Free</p>
        </div>
      </div>
    </section>

    <div class="modal-overlay">
      <div class="modal">
        <a class="close-modal">
          <i class="material-icons">close</i>
        </a>

        <div class="modal-content">
          <iframe src="" frameborder="0"></iframe>
        </div>
      </div>
    </div>

    <script src="scripts.js"></script>
  </body>
</html>
